<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Lista de juegos</title>
    <link
            href="/css/bootstrap.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/landing.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand custom-link" th:href="@{/juegos/lista}"
          >Martin's Library</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#!">Home</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#!"
                data-bs-toggle="modal"
                data-bs-target="#aboutModal"
                >About</a
              >
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Acciones</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" th:href="@{/juegos/formAdd}"
                  >Añadir Juego</a
                  >
                </li>
                <!--Eliminado temporalmente hasta darle funcionalidad
                          <li><hr class="dropdown-divider" /></li>

                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>-->
              </ul>
            </li>


            <!-- Barra de búsqueda -->
            <form class="d-flex" th:action="@{/juegos/buscar}" method="get">
              <input
                class="form-control me-2 search-bar"
                type="search"
                placeholder="Introduce el nombre a buscar..."
                aria-label="Buscar"
                name="nombre"
              />
              <button class="btn btn-outline-light" type="submit">
                <i class="fas fa-search"></i>
                <!-- Ícono de lupa de FontAwesome -->
              </button>
            </form>
          </ul>

          <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/loginUser}" method="post">
            <button class="btn btn-outline-light btn-log" type="submit">
              <i class="bi-cart-fill me-1"></i>
              Iniciar sesión
            </button>
          </form>

          <div th:if="${#authorization.expression('isAuthenticated()')}">
            <span class="navbar-text" style="color: #ffd700; margin:15px; font-weight: bold;"><span th:text="${#authentication.principal.username}"></span></span>
          </div>



          <form th:action="@{/logout}" method="post">
          <button class="btn btn-outline-light" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Finalizar sesión
          </button>
          </form>

        </div>
      </div>
      <div
        class="modal"
        id="aboutModal"
        tabindex="-1"
        aria-labelledby="aboutModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="aboutModalLabel">
                Acerca de esta web
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <!-- Contenido del modal -->
              <p>
                Web app desarrollada por Martín Antelo Jallas, estudiante de 2º
                de DAW en A Coruña. ¿Te gusta lo que ves?. Háblame en el
                645872184
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Header antiguo. Hay que reemplazarlo por uno más competente.

<header class="bg-dark py-1">
<div class="container  px-4 px-lg-5 my-5">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Biblioteca de juegos</h1>
        <div class="col-3">
        </div>
    </div>
</div
</header>
-->

    <div class="container">
      <div class="row">
        <!-- Iterar a través de los juegos -->
        <div
          th:each="tempJuego : ${juegos}"
          class="col-lg-2 col-md-3 col-sm-6 col-6 game-card card-with-band"
        >
          <div class="card game-card">

            <!-- Imagen del juego -->
            <a
              th:href="@{/juegos/partidas/{id}(id=${tempJuego.id},name=${tempJuego.Name})}"
            >
              <img
                th:if="${tempJuego.Img != null}"
                th:src="@{/juegos/img/{id}(id=${tempJuego.id})}"
                alt="Imagen del juego"
                class="card-img-top game-img img-fluid"
            /></a>
            <!--Usar placeholder para juegos a los que aún no se les ha asignado imagen-->
            <a
              th:href="@{/juegos/partidas/{id}(id=${tempJuego.id},name=${tempJuego.Name})}"
            >
              <img
                th:if="${tempJuego.Img == null}"
                th:src="@{/placeholder.png}"
                alt="Imagen del juego"
                class="card-img-top game-img img-fluid"
            /></a>
            <div class="card-body">
              <div class="band" th:if="${tempJuego.terminado}">Done!</div>

              <!-- Nombre del juego -->
              <a
                th:href="@{/juegos/partidas/{id}(id=${tempJuego.id},name=${tempJuego.Name})}"
                th:text="${tempJuego.Name}"
              >
                <h5
                  th:text="${tempJuego.Name}"
                  class="card-title game-title"
                ></h5
              ></a>
            </div>
            <div class="card-footer">
              <div class="row">
                <!-- Formulario para eliminar -->
                <div class="col-6">
                  <form
                    th:action="@{/juegos/delete/{id}(id=${tempJuego.id})}"
                    method="post"
                    onsubmit="return confirm('¿Estás seguro de que deseas borrar este juego y todos sus datos asociados?');"
                  >
                    <button
                      type="submit"
                      name="game_delete"
                      alt="Borrar"
                      class="btn btn-sm"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="12"
                        height="12"
                        fill="currentColor"
                        class="bi bi-trash3"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                        ></path>
                      </svg>
                    </button>
                  </form>
                </div>
              </div>

            </div>

          </div>
        <!-- Fin de la iteración -->
      </div>
    </div>



    <script>
      // Función para abrir el modal de edición
      function openEditModal() {
        var editModal = document.getElementById("editModal");
        editModal.style.display = "block";
      }

      // Función para cerrar el modal de edición
      function closeEditModal() {
        var editModal = document.getElementById("editModal");
        editModal.style.display = "none";
      }
    </script>
  </body>
</html>
