.custom-link {
  font-family: "Pacifico", cursive;
  background-color: #ffd700;
  color: black;
  padding: 5px 10px; /* Ejemplo de ajuste de relleno */
  border-radius: 5px;
}

.table {
    background-color: #333; /* Fondo oscuro */
    color: white; /* Texto blanco */
    table-layout: fixed; /* Fijar el ancho de las columnas */
    width: 100%; /* Ancho de la tabla */
}

/* Estilo para las celdas de la tabla */
.table td, .table th {
    padding: 10px; /* Espacio alrededor del contenido */
    text-align: center; /* Alineación central */
}

/* Estilo para los botones */
.btn-delete, .btn-download {
    font-size: 1em; /* Tamaño de fuente más pequeño */
    color: #dc3545; /* Color de borrado rojo */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer;
}

.btn-delete:hover, .btn-download:hover {
    color: #fff; /* Cambiar color al pasar el mouse */
}

body {
  background: rgb(224, 224, 224);
  background: black;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  color: white;
}

a {
  text-decoration: none !important;
}

.container {
  margin-top: 10px;
}

.search-bar {
  width: 300px; /* Ancho deseado en píxeles */
  margin-left: 20px;
}

.details-container {
  display: flex;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
}

/* Estilo para la imagen */
.details-container img {
  margin-right: 20px; /* Espacio entre la imagen y la lista */
  width: 300px;
  height: 450px;
}

/* Estilo para la lista */
.details-container ul {
  list-style-type: none; /* Elimina los puntos de lista */
  padding: 0;
  margin: 0;
}

/* Estilo para los elementos de la lista */
.details-container li {
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
  position: relative; /* Permite agregar pseudo-elementos ::before para los puntos de lista */
  padding-left: 30px; /* Agrega un margen desde la izquierda con respecto a la imagen */
}

/* Estilo para los puntos de lista */
.details-container li::before {
  content: "\2022"; /* Utiliza un punto como marcador de lista  */
  color: #007bff; /* Color de los puntos de lista */
  font-size: 16px; /* Tamaño de fuente de los puntos de lista (ajusta según tu preferencia) */
  position: absolute; /* Posición absoluta en relación con el elemento padre (li) */
  left: 0; /* Coloca los puntos de lista en el borde izquierdo del elemento li */
  top: 50%; /* Alinea verticalmente los puntos de lista en el centro del elemento li */
  transform: translateY(
    -50%
  ); /* Ajusta verticalmente la posición de los puntos de lista */
}

.table th {
  width: 150px;
}

/* Estilo para las celdas de datos */
.table td {
  width: 50px;
}

.details-content {
  flex: 1;
}

.btn-orange {
  background-color: #ffa500; /* Color naranja */
  color: #fff; /* Color del texto blanco */
}

.btn-log {
margin:10px}

.btn.btn-orange:hover {
background-color: #ffa500; /* Color naranja */
  color: #fff;
}


.details-container {
  display: flex;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
}

.buttons-container {
  display: block; /* Cambia a display: block para que los botones ocupen todo el ancho disponible */
  margin-top: 10px; /* Espacio entre los botones */
}

.buttons-container button {
  margin: 5px auto; /* Espacio entre los botones y centrado horizontalmente */
  width: 150px; /* Ancho deseado en píxeles */
  margin-top: 10px;
}



.partidas-container {
  display: none;
  padding-top: 15px;
}
.btn-container {
  margin-top: 15px;
}

.modal {
  display: none; /* Oculta el modal por defecto */
  position: fixed; /* Mantiene el modal en la misma posición en la página */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilo para el contenido del modal */
.modal-content {
  margin: 10% auto; /* Centra el modal verticalmente */
  padding: 20px;
  color: black; /* Cambia el color del texto a blanco */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.close {
  color: white; /* Establecer el color blanco */
  opacity: 1; /* Asegurarse de que la aspa de cierre sea completamente visible */
}

.titulo {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .game-card {
    font-size: 16px; /* Aumenta el tamaño de fuente en dispositivos móviles */
  }

  .game-title {
    font-size: 1rem; /* Tamaño de fuente más pequeño para el título */
    margin-top: 5px;
  }

  .game-details {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño para detalles */
  }

  .game-price {
    font-size: 1rem; /* Tamaño de fuente más pequeño para el precio */
    margin-top: 5px;
  }

  /* Ajusta la altura máxima del .card-body para dispositivos móviles */
  .card-body {
    max-height: 60px;
  }

  /* Añade una barra de desplazamiento vertical para .card-body en dispositivos móviles */
  .card-body {
    overflow-y: auto;
  }

  /* Reduce la altura del .card-footer en dispositivos móviles */
  .card-footer {
    height: 1.5rem;
  }

  .details-container img {
    margin-right: 10px; /* Espacio entre la imagen y la lista */
    width: 201px;
    height: 302px;
  }
}

